body{
  margin: 0;
}
.upper{
    text-align: center;
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 820px;
}
.lower{
  background-color: rgba(168, 242, 20, 0.77);
}
h1{
    color: #FFBF00;
    font-size: 6rem;
    display: inline-block;
    font-family: 'Lobster', cursive;
}
h2{
  margin-top: 0;
  padding-top: 20px;
  padding-left: 20px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-width: 0;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 27px;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }